@charset "utf-8";

/*** common ***/
body {min-width:1560px;background:#ffffff;color:#222;font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕',Apple Gothic,arial,helvetica,sans-serif;font-size:14px;font-weight:400;line-height:1.4;-webkit-text-size-adjust:none;-webkit-overflow-scrolling:touch;word-wrap:break-word;word-break:keep-all;white-space:normal;letter-spacing: -1px;}
body.noScroll {overflow: hidden;}
#wrap {position:relative;width:100%;min-height:100vh;height: 100%;}

/* input */
input {width:100%;height:30px;padding:0 10px;background:#fff;border:1px solid #eaecef;border-radius: 6px;box-sizing:border-box;color:#737373;}
input.on {background:#fff;color:#737373;}
input:focus {background-color:#fff;border-color:#222;color:#737373;outline:none;}
input:read-only {background:#f3f3f4;color:#737373;cursor: default;}
input:read-only:focus {background:#f3f3f4;border-color:#eaecef;color:#737373;}
input.on:read-only {background:#fff;color:#222;}
input.placeholder {color:#cfcfcf;}
input:-ms-input-placeholder {color:#cfcfcf;}
input::-webkit-input-placeholder {color:#cfcfcf;}
input::-moz-placeholder {color:#cfcfcf;}
*:disabled {background:#f3f3f4;color:#737373;cursor: default;}

.inp_box > li {display: flex;align-items: center;flex-grow: 0;position: relative;}
.inp_box > li + li {margin-top: 10px;}
.inp_box > li * + * {margin-left: 10px;}
.inp_box.right {justify-content: flex-end;}
.label {flex-grow: 0;flex-shrink: 0;flex-basis: 120px;font-weight: 500;}
.imp::after {display: inline-block; content: '*'; color: #fc425b; margin-left: 2px;} 
.label + * {margin-left: 0 !important;}

/* select */
select {width:100%;height:30px;padding:0 38px 0 10px;background:#fff url("../images/common/ico_select.png") right center no-repeat;border:1px solid #eaecef;box-sizing:border-box;color:#737373;border-radius: 6px;cursor: pointer;}
select:focus {outline-style:none;border-color:#222;color:#737373;}
select::-ms-expand {display:none;}
select:disabled {background:#f3f3f4 url("../images/common/ico_select.png") right center no-repeat;border-color:#eaecef;color:#737373;cursor: default;opacity: 1;}

/* button */
.btn_area {margin:10px auto 0;font-size:0;text-align: center;}
.btn_area::after {display: block;content: '';clear: both;}
.btn_area li {display: inline-block;vertical-align: top;margin:0 3px;}
.btn_area li b {display: inline-block;font-size: 12px;margin: 0 3px;}
.btn_area.right {text-align: right;}
.btn_area.left {text-align: left;}
[class^="btn_ty_"] {display: inline-block;height:30px;line-height:28px;padding: 0 8px;border-radius: 6px;text-align: center;font-family:'Noto Sans KR','Malgun Gothic';font-size: 14px;font-weight: 400; box-sizing: border-box;transition: all 0.3s;}

/* btn Color */
[class^="btn_ty_"][class*="_c2"] {background:#465273;border:1px solid #465273;color:#fff;}
[class^="btn_ty_"][class*="_c3"] {background:#465273;border:1px solid #1f2129;color:#fff;}
[class^="btn_ty_"][class*="_c2"]:hover {background:#5174be;border-color:#5174be;}
[class^="btn_ty_"][class*="_c3"]:hover {background:#465273;border-color:#000;}

/* btn Size */
[class^="btn_ty_"][class*="_s"] {min-width:60px;}

/* title */
.title {position: relative;width: 100%;height: 45px;line-height: 45px;padding: 0 15px;background: #465273;border-radius: 12px 12px 0 0;color: #fff;font-size: 16px;font-weight: 700;box-sizing: border-box;margin: 0;}
.title.ty {border-radius: 12px;margin-bottom: 12px;}
.title em {font-size: 13px;font-weight: normal;letter-spacing: 0;margin-left: 20px;}

h2 {font-size: 15px; margin: 15px 0 10px;}
h3 {padding: 0 15px;font-size: 14px;line-height: 30px;margin: 10px 0;}
h3::before {display: inline-block;content: '';width: 5px;height: 5px;background: #222;border-radius: 100%;vertical-align: middle;margin-right: 4px;position: relative;top: -1px;}
h3.title {background: #fff;color: #222;margin: 0;box-sizing: border-box;}
h3.title::before {display: none;}

/* table : 일반 */
.table {position:relative;width: 100%;overflow-x: auto;background:#fff;border: 1px solid #eaecef;border-radius:12px;box-shadow: 0px 12px 32px 0px rgba(171, 179, 186, 0.2);}
* + .table {margin-top: 10px;}
.table table {width:100%;}
.table th, .table td {height:30px;padding:12px;border-bottom: 1px solid #eaecef;box-sizing:border-box;color:#222;font-size:14px;vertical-align:middle;word-wrap:break-word;word-break:break-all;}
.table th {padding:6px;background:#f4f5fa;font-weight:500;word-break: keep-all;}
.table th + th {border-left: 1px solid #eaecef;}
.table tbody td {padding: 6px;color:#737373;font-size:14px;transition:all 0.4s;}
.table tbody td + td {border-left: 1px solid #eaecef;}
.table tbody td > a {transition: all 0.2s;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.table tbody td > a:hover {text-decoration: underline;color: #222;}
.table tr {border-bottom: 1px solid #eaecef;}
.table tr td + th {border-left: 1px solid #eaecef;}
.table tr th + td {border-left: 1px solid #eaecef;}

.table.left {margin-top: 0; border-bottom: 0;}
.table.left > table > tbody > tr > th, .table.left > form > table > tbody > tr > th {text-align: left;padding: 12px;}
.table.left > table > tbody > tr > td,.table.left > form > table > tbody > tr > td {text-align: left;height: 51px;padding: 10px;}
.table.left h3 + table, .table.left > form > table {border-top: 1px solid #eaecef;border-bottom: 1px solid #eaecef;}
.table.left h3 + .btn_area {padding-right: 12px;margin: -38px 0 12px;}
.table.left h3 + .btn_area + table {border-top: 1px solid #eaecef;}
.table.left.no_scroll {overflow-x: visible;}
.table.left.no_scroll tr:last-child th:first-child {border-radius: 0 0 0 12px;}

.table.left .table {box-shadow: none;border: 0;border-radius: 0;border-top: 1px solid #eaecef;}
.table.left .table tbody tr td {height: 30px;text-align: center;padding: 6px;border-radius: 0;}
.table.left .table tbody tr td:first-child {border-left: 0;}
.table.left table tbody td[rowspan] {border-right:1px solid #eaecef; }
.table.left table tbody td[rowspan]:last-child { border-right:0; }

/* 데이터 없을 경우 */
.no_data {height: 170px;box-sizing: border-box;}
.no_data p {background: url(../images/common/ico_nodata.png) no-repeat center;padding-top: 60px;margin-top: -30px;}

.table_title {height: 30px;line-height: 30px;margin: 10px 0;}
.table_title::after {display: block;content: '';clear: both;}
.table_title .total {float: left;position: relative;top: 8px;}
.table_title .btn_area {float: right;margin: 0;}
.total {font-weight: 500;}
.total em {color: #fb3c60;}
.btn_area + .table_title {margin-top: 15px;}
.table_title .fl > div,.table_title .fr > div{float: left;}
.table_title .fl > div::before,.table_title .fr > div::before {display: inline-block;content: '';width: 1px;height: 12px;background: #b0b8bd;margin: 0 20px;position: relative;top: 1px;}
.table_title .fl > div:first-child:before,.table_title .fr > div:first-child::before {display: none;}
.table_title .fl h3 {margin: 0;}

/** paging **/
#paging {height:45px;margin-top:30px;font-size:0;text-align:center;overflow:hidden;}
#paging a {display:inline-block;position:relative;width:30px !important;height:30px !important;margin:0 3px;background:#fff;border:1px solid transparent;border-radius: 6px;box-sizing:border-box;color:#cfcfcf;font-size:14px;line-height:30px;text-align:center;overflow:hidden;transition:all 0.4s;padding: 0 !important;}
#paging a:hover {border-color:#465273;}
#paging a.on {background: #465273;border-color:#465273;color:#fff;font-weight: 500;}
#paging #prev {margin-right:10px;background:#fff url(../images/common/btn_paginate_prev.png) center no-repeat;background-size: 6px;text-indent:-9999px;}
#paging #first {background:#fff url(../images/common/btn_paginate_prev02.png) center no-repeat;background-size: 12px;text-indent:-9999px;}
#paging #next {margin-left:10px;background:#fff url(../images/common/btn_paginate_next.png) center no-repeat;background-size: 6px;text-indent:-9999px;}
#paging #last {background:#fff url(../images/common/btn_paginate_next02.png) center no-repeat;background-size: 12px;text-indent:-9999px;}

@media all and (max-height: 900px) {
	.grid_table {
	  min-height: 30vw;
	}
}

/* modal popup */
.modal-backdrop {position: fixed;top:0;right:0;bottom:0;left:0;background:#000;z-index:7500;opacity:0.6;filter:alpha(opacity=70);}
.modal {display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:8000;overflow:auto;-webkit-overflow-scrolling:touch;outline:0;text-align: center;}
.modal-dialog {position: relative;max-width: 720px;width:100%;margin:0 auto 15px;padding:0 15px;;left: 0;right:0;top: 0;display: inline-block;vertical-align: middle;text-align: left;box-sizing: border-box;}
.modal:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -4px;}
.modal-content {position:relative;background-color:#fff;outline:none;overflow:hidden;border-radius:12px;}
.modal-title {position: relative;text-align: center;}
.modal-body {padding: 15px 15px 20px;max-height: 755px;overflow-y: auto;box-sizing: border-box;}

.modal h5 {position: relative;font-size: 15px;margin: 20px 0 10px;border-bottom: 1px solid #eaecef;padding-bottom: 10px;}
.modal h5:first-child {margin-top: 0;}
.modal h5 [class^="btn_ty_"] {position: absolute;bottom: 10px;right: 0;}

.modal .table {box-shadow: none;border-left: 0;border-right: 0;border-radius: 0;border-bottom: 0;}
.modal .table thead tr:first-child th:first-child,.modal .table thead tr:first-child th:last-child {border-radius: 0;}
.modal .table.left tr th,.modal .table.left tr td {height: 32px;padding: 6px 10px;}

.modal .search_box {padding-bottom: 15px;border-bottom: 1px solid #eaecef;margin-bottom: 10px;}
.modal .search_box .inp_box {position: relative;display: flex;flex-wrap: wrap;margin: -5px;}
.modal .search_box .inp_box > li {flex-grow:1;width: calc(33.33% - 10px);margin: 5px;}
.modal .search_box .label {flex-basis: 80px;}

.modal .search_box.ty .inp_box {padding-right: 65px;}
.modal .search_box.ty .inp_box > li:last-child {position: absolute;right: 0;top: 0;width: 60px;margin-right: 0;} 

.modal .no_data {height: 115px;}
.modal .btn_area {margin-top: 15px;}
.modal .btn_area + textarea {margin-top: 10px;}

.modal .inp_box li .label label {position: relative;top: -2px;}
.modal .inp_box li .label label + select {margin-left: 5px;width: 82px;}
.modal .inp_box.ty li .label {flex-basis: 160px;}

/* pop_close */
.pop_close {position:absolute;right:0px;top:0;width:40px;height:44px;text-indent:-9999px;overflow:hidden;transition:none;z-index:10;background: transparent;border: 0;}
.pop_close em {display:block;position:absolute;left:50%;top:50%;width:20px;height:20px;margin:-10px 0 0 -10px;transform:rotate(45deg);}
.pop_close em:before {position:absolute;left:0;top:50%;width:26px;height:2px;margin-top:-1px;background:#fff;border-radius:1px;content:"";animation:btnMgnb both 0.4s 0.4s;}
.pop_close em:after {position:absolute;left:50%;top:0;width:2px;height:26px;margin-left:-1px;background:#fff;border-radius:1px;content:"";animation:btnMgnbH both 0.4s 0.6s;}
@keyframes btnMgnb {0% {width:0;}100% {width:100%;}}
@keyframes btnMgnbH {0% {height:0;}100% {height:100%;}}

/* 24.02.19 table유형추가 */
.table.ty tbody tr {cursor: pointer; transition: all 0.25s;}
.table.ty tbody tr:hover {background: #f3f3f3;}
.table .no_data:hover {background: transparent !important; cursor: default !important;}
